<div class='ribbon'>
  <%= image_tag "dashboard/only-available-at-cmu.png" %>
</div>

<div id='foods-container'>
  <div id='foods'>

    <div class='food-container'>
      <div class='preview'>
        <div class='food-preview' style='background-image: url(<%= raw @food.preview.url %>)'>
          <%= image_tag @food.seller.logo.url, class: "seller-logo" %>
        </div>

      </div>
      <div class='food'>

        <div class='overview'>
          <h3 class='title'><%= @food.title %></h3>
          <h5 class='seller-name'>By <%= @food.seller.name %></h5>
        </div>

        <div class='details'>
          <div class='description'><%= @food.description %></div>
          <div class='status'>
            <div class='stats'>
              <span class='sold'><%= @food.sold %>/<%= @food.goal %> left</span>
              <span class='rating'><%= @food.orders.average(:rating).to_f %></span>
            </div>
            <div class='progress-bar'>
              <div class='progress' style='width: <%= (Float(@food.sold) / Float(@food.goal)) * 100 %>%;'></div>
            </div>
          </div>
        </div>

        <div class='order'>
          <h2 class='price'>$<%= @food.prices.first.price_in_cents.to_f / 100.0 %></h2>
          <fieldset class='quantity-container'>
            <label for='quantity'>QTY:</label>
            <select name="quantity" class='quantity'>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
          </fieldset>
          <button class='place-order'>Place&nbsp;Order</button>
        </div>

      </div>
    </div>
    <div class='food-container'>
  <div class='preview'>
    <div class='food-preview' style='background-image: url(<%= raw @food.preview.url %>)'>
      <%= image_tag @food.seller.logo.url, class: "seller-logo" %>
    </div>

  </div>
  <div class='food'>

    <div class='overview'>
      <h3 class='title'><%= @food.title %></h3>
      <h5 class='seller-name'>By <%= @food.seller.name %></h5>
    </div>

    <div class='details'>
      <div class='description'><%= @food.description %></div>
      <div class='status'>
        <div class='stats'>
          <span class='sold'><%= @food.sold %>/<%= @food.goal %> left</span>
          <span class='rating'><%= @food.orders.average(:rating).to_f %></span>
        </div>
        <div class='progress-bar'>
          <div class='progress' style='width: <%= (Float(@food.sold) / Float(@food.goal)) * 100 %>%;'></div>
        </div>
      </div>
    </div>

    <div class='order'>
      <h2 class='price'>$<%= @food.prices.first.price_in_cents.to_f / 100.0 %></h2>
      <fieldset class='quantity-container'>
        <label for='quantity'>QTY:</label>
        <select name="quantity" class='quantity'>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
        </select>
      </fieldset>
      <button class='place-order'>Place&nbsp;Order</button>
    </div>

  </div>
</div>

  </div>
</div>
