<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h3>Total Revenue: <%= number_to_currency Charge.paid.sum(:amount_charged_in_cents) %></h3>
<h3>Total Orders: <%= number_with_delimiter Order.placed.count %></h3>

<div class='chart'>
  <h3>Revenue by Week</h3>
  <%= column_chart Charge.paid.group_by_week(:created_at).sum(:amount_charged_in_cents) %>
</div>

<div class='chart'>
  <h3>Repeat Buyers by Week</h3>
  <%= line_chart User.repeat_buyers.group_by_week(:created_at).count %>
</div>

<div class='chart'>
  <h3>Customer Satisfaction by Week</h3>
  <%= line_chart Order.satisfaction_by_week %>
</div>

<div class='chart'>
  <h3>Orders by Week</h3>
  <%= line_chart Order.placed.last_month.group_by_week(:created_at).count %>
</div>

<div class='chart'>
  <h3>Orders by Month</h3>
  <%= line_chart Order.placed.group_by_month(:created_at).count %>
</div>

<div class='chart'>
  <h3>User Activations by Month</h3>
  <%= line_chart User.activated.group_by_month(:created_at).count %>
</div>
