  <!DOCTYPE html>
  <html ng-app='nommit'>
  <head>
    <base href="/"></base>
    <title>Nommit</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <meta name="apple-itunes-app" content="app-id=928890698" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>

  <body ng-controller='CoordinatorCtrl' ng-swipe-right='toggleDashboard()' ng-class='{ "modal-visible": isModalVisible() }'>
    <div ng-cloak>

      <div class='header-container' ng-show='isDashboardVisible' ng-swipe-left='toggleDashboard()' ng-click='toggleDashboard()'>

        <header ng-controller='HeaderCtrl' disable-click-propagation ng-animate-children>

          <div class='brand'>
            <div class='fa fa-close back-button' ng-click='toggleDashboard()'></div>
          </div>

          <nav ng-if='user'>

            <li class='page' ng-click='navigate("foods", { place_id: null })' ng-class="{ active: page == 'foods' }">
              <i class="fa fa-cutlery"></i>
              <span>Menu</span>
            </li>

            <li class='page' ng-click='navigate("deliver")' ui-sref-active='active' ng-hide='true' ng-class="{ active: page == 'deliver' }">
              <i class="fa fa-truck"></i>
              <span>Deliver</span>
            </li>

            <li class='page' ng-click='navigate("account")' ui-sref-active='active' ng-hide='!user' ng-class="{ active: page == 'account' }">
              <i class="fa fa-user"></i>
              <span>Account</span>
            </li>

            <li class='page' ng-click='navigate("invite")' ui-sref- ng-hide='true' ng-class="{ active: page == 'invite' }">
              <i class="fa fa-users"></i>
              <span>Invite</span>
            </li>

            <li class='page' ng-click='navigate("support")' ui-sref-active='active' ng-class="{ active: page == 'support' }">
              <i class="fa fa-phone"></i>
              <span>Support</span>
            </li>

            <li class='page' ng-click='navigate("fundraise")' ui-sref-active='active' ng-class="{ active: page == 'fundraise' }">
              <i class="fa fa-money"></i>
              <span>Sell on Nommit</span>
            </li>

          </nav>

          <nav ng-if='!user'>

            <li class='page' ui-sref='foods({ place_id: null })' ui-sref-active='active'>
              <i class="fa fa-cutlery"></i>
              <span>Menu</span>
            </li>

            <li class='page' ng-click='navigate("fundraise")' ui-sref-active='active' ng-class="{ active: page == 'fundraise' }">
              <i class="fa fa-money"></i>
              <span>Sell on Nommit</span>
            </li>

          </nav>

          <div class='pending-orders' ng-controller='OrdersCtrl'>

            <h5>Active Orders</h5>

            <fading-circle-spinner ng-show='isLoadingOrders'></fading-circle-spinner>

            <ul class='orders'>

              <li ng-repeat='order in orders' ui-sref='orders({ order_id: order.id })'>
                <i class='fa fa-spoon'></i>
                <span>{{order.food.title}}</span>
              </li>

            </ul>

          </div>

        </header>

      </div>

      <div class='view' ui-view></div>

      <%= render 'login' %>
      <%= render 'activate' %>
      <%= render 'confirm_phone' %>
    </div>

    <div class='popup-container loading' ng-if='false'>
      <div class='popup'>
        <div class='header'><%= image_tag "nommit-logo.png" %></div>

        <div class="fading-circle-spinner">
          <div class="fading-circle1 fading-circle"></div>
          <div class="fading-circle2 fading-circle"></div>
          <div class="fading-circle3 fading-circle"></div>
          <div class="fading-circle4 fading-circle"></div>
          <div class="fading-circle5 fading-circle"></div>
          <div class="fading-circle6 fading-circle"></div>
          <div class="fading-circle7 fading-circle"></div>
          <div class="fading-circle8 fading-circle"></div>
          <div class="fading-circle9 fading-circle"></div>
          <div class="fading-circle10 fading-circle"></div>
          <div class="fading-circle11 fading-circle"></div>
          <div class="fading-circle12 fading-circle"></div>
        </div>
      </div>
    </div>

  </body>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= render 'config' %>
  <%= javascript_include_tag 'application'  %>
</html>
