<!DOCTYPE html>
<html ng-app='nommit'>
<head>
  <title>Nommit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= render 'config' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>

<div id='header-container' ng-controller='HeaderCtrl'>
  <header id='header'>
    <div ui-sref("foods") class='brand'>
      <div class='nommit-logo logo'></div>
      <div class='tagline'>food in under 15 minutes.</div>
    </div>

    <div class='delivery-box'>
      <span ng-if='choosingPlace'>Now Delivering To:</span>
      <span ng-if='!choosingPlace'>Delivering To:</span>
      <div id='place' ng-bind='place.name' ng-click='changingPlace = !changingPlace'></div>
    </div>

    <div class='account' ng-if='!loggedIn'>
      <a ng-click='showLogin()'>Login</a>
    </div>

    <div class='account' ng-if='loggedIn'>
      <a ui-sref='account()'>Account</a>
      <a ui-sref='orders()'>Orders</a>
    </div>
  </header>

  <div ng-if='changingPlace' id='place-select-container' ng-click='stopChangingPlace()'>
    <span class='label'>Delivering To: </span>
    <ul id='place-select'>
      <li class='place'>
        <span class='name' ng-bind='place.name' ng-click='setCurrentPlace(place.id)'></span>
      </li>
      <li class='place' ng-repeat='place in places'>
        <span class='name' ng-bind='place.name' ng-click='setCurrentPlace(place.id)'></span>
      </li>
    </ul>
  </div>
    
  <%= render 'dashboard/login' %>
  <%= render 'dashboard/activation' %>

</div>

<div id='content-container' ui-view>
  <%= yield %>
</div>

</body>
</html>
