  <!DOCTYPE html>
  <html ng-app='nommit'>
  <head>
    <base href="/"></base>
    <title>Nommit</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="apple-itunes-app" content="app-id=928890698" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>

  <body ng-controller='CoordinatorCtrl' ng-swipe-right='toggleDashboard()' ng-class='{ "modal-visible": isModalVisible() }'>

    <div class='header-container' ng-show='isDashboardVisible' ng-click='toggleDashboard()'>

      <header ng-controller='HeaderCtrl' disable-click-propagation ng-animate-children>

        <div class='brand'>
          <div class='fa fa-close back-button' ng-click='toggleDashboard()'></div>
        </div>

        <nav ng-if='user'>

          <li class='page' ui-sref='foods({ place_id: null })' ui-sref-active='active'>
            <i class="fa fa-cutlery"></i>
            <span>Menu</span>
          </li>

          <li class='page' ui-sref='deliver' ui-sref-active='active'>
            <i class="fa fa-truck"></i>
            <span>Deliver</span>
          </li>

          <li class='page' ui-sref='account' ui-sref-active='active'>
            <i class="fa fa-user"></i>
            <span>Account</span>
          </li>

          <li class='page' ui-sref='invite' ui-sref-active='active'>
            <i class="fa fa-users"></i>
            <span>Invite</span>
          </li>

          <li class='page' ui-sref='support' ui-sref-active='active'>
            <i class="fa fa-phone"></i>
            <span>Support</span>
          </li>

          <li class='page' ui-sref='fundraise' ui-sref-active='active'>
            <i class="fa fa-money"></i>
            <span>Sell on Nommit</span>
          </li>

        </nav>

        <nav ng-if='!user'>

          <li class='page' ui-sref='foods({ place_id: null })' ui-sref-active='active'>
            <i class="fa fa-cutlery"></i>
            <span>Menu</span>
          </li>

        </nav>

        <div class='pending-orders' ng-controller='OrdersCtrl'>

          <h5>Active Orders</h5>

          <fading-circle-spinner ng-show='isLoadingOrders'></fading-circle-spinner>

          <ul class='orders'>

            <li ng-repeat='order in orders' ui-sref='orders({ order_id: order.id })'>
              <i class='fa fa-spoon'></i>
              <span>{{order.food.title}}</span>
            </li>

          </ul>

        </div>

      </header>

    </div>

    <div class='view' ui-view></div>

    <%= render 'login' %>
    <%= render 'activate' %>
    <%= render 'confirm_phone' %>
  </body>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= render 'config' %>
  <%= javascript_include_tag 'application'  %>
</html>
