<!DOCTYPE html>
<html ng-app='nommit'>
<head>
  <title>Nommit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header-container' ng-controller='HeaderCtrl'>
  <header id='header'>
    <div ui-sref("foods") class='brand'>
      <%= image_tag "nommit-logo.png", class: "logo" %>
      <div class='tagline'>food in under 15 minutes.</div>
    </div>

    <div class='delivery-box'>
      <span>Delivering To:</span>
      <div id='place'>Mudge</div>
    </div>

    <div class='account'>
      <a href='#' ui-sref='login'>Login</a>
    </div>
  </header>
</div>

<div id='content-container' ui-view>
  <%= yield %>
</div>

</body>
</html>
